<footer id="footer-section">
    <p>Made with <i class="fa-solid fa-heart"></i> by Kevin Michael</p>
    <i class="footer-icon fa-brands fa-github fa-2x"></i>
    <i class="footer-icon fa-brands fa-linkedin fa-2x"></i>
</footer>
</body>
</html>
